<div class="container">
  <div class="panel">
    <h1><%= @question.title %></h1>
    <p><%= @question.details %></p>
  </div>
  <h3># Answers</h3>
  <div class="panel">
    posted answer
  </div>
  <h3>Your answer</h3>
  <div class="panel">
    enter answer in form here
  </div>
</div>

